---
name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: main
  release:
    types: [released]

jobs:
  ci:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
          cache-dependency-path: poetry.lock

      - name: Poetry lock
        run: |
          poetry lock

      - name: Install dependencies
        run: |
          poetry install

      - name: Codegen
        run: |
          make codegen

      - name: Format
        run: |
          make format

      - name: Typecheck
        run: |
          poetry run pyright .

      - name: Lint
        run: |
          poetry run ruff check .

      - name: Test
        env:
          E2E_GNOSIS_MAINNET_TESTING_EOA_PRIVATE_KEY: ${{ secrets.E2E_GNOSIS_MAINNET_TESTING_EOA_PRIVATE_KEY }}
          TEST_PRIVATE_KEY: ${{ secrets.E2E_SEPOLIA_TESTING_EOA_PRIVATE_KEY }}
        run: |
          poetry run pytest tests/ --with-slow --integration

      - name: Build sdist
        run: |
          poetry build -f sdist

      - name: Check docs
        run: |
          make doc-check

      - name: Check For changes
        id: changes
        run: |
          git diff --exit-code 
